
*{
    margin:0;
    padding:0;
    align-items: center;
    color:white;
    font-size: 30px;
}
.hidden{
    display:none;
}
.line{
    text-decoration: line-through;
}
#bg_wrap{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
    
    display:grid;
    grid-template-rows:  minmax(max-content, 1fr) minmax(max-content,3fr) minmax(max-content,0.5fr);
}

body > *{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    margin: 50px 0;
}
#clock{
    font-size: 150px;
}

input{
    text-align: center;
    border:none;
    border-bottom: 3px solid white;
    background : transparent;
    margin:30px;
}
input::placeholder{
    color:white;
}
input:focus{
    outline:none;
}

#greeting{
    font-size:45px;
}
#todo-form input{
    width: 500px;
}

.main{
    height: 100%;
    justify-content: flex-start;
}
#todo-list{
    width: 30vw;
    list-style:none;
}
#todo-list > li{
    display: grid;
    grid-template-columns: 30px auto 30px;
    word-break: break-all;
    margin: 10px 0;
}
button{
    width: 22px;
    height: 22px;
    font-size:25px;
    background:transparent;
    border:none;
    color:red;
    display:flex;
    align-items: flex-end;
    margin-left: 20px;
}
#check{
    border : 2px solid white; 
    color:white;
    margin-left: 0px;
    margin-right: 20px;
}
#quote{
    margin: 30px 0;
}
#quote p:last-child{
    font-size:24px;
}
